.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #11111190;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* MODAL START */
.modal-content-start,
.modal-content-win {
  width: 80%;
  height: 70%;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content-start .header {
  width: 100%;
  height: 80px;
  text-align: center;
}

.modal-content-start .content {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.modal-content-start form {
  width: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 20px 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-content-start form input {
  width: 100%;
  height: 70px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 32px;
  text-align: center;
}

/* MODAL WIN */
.modal-content-win {
  width: 50%;
  background-image: url("../img/cofets1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;

  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
