.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #11111190;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* MODAL START */
.modal-content-start,
.modal-content-win,
.modal-content-loser,
.modal-content-finish,
.modal-content-get-name
{
  width: 700px;
  height: fit-content;
  background-image: var(--gradient);
  border-radius: 16px;
  padding: 20px 15px;
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  box-shadow: var(--shadow);
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modal-content-start{
  width: 350px;
  height: 500px;
  align-items: center;
  justify-content: center;
  gap: 54px;
  border-radius: 48px;
  text-transform: uppercase;
}

/* MODAL GET NAME */
.modal-content-get-name .header {
  width: 100%;
  text-align: center;
}

.modal-content-get-name .content {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 24px;
}

.modal-content-get-name form {
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 20px 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-content-get-name form input {
  width: 100%;
  height: 70px;
  border-radius: 8px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 32px;
  text-align: center;
}

/* MODAL WIN */
.modal-content-win,
.modal-content-loser,
.modal-content-finish {
  width: 50%;
  background-image: url("../img/cofets1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;
}
/* MODAL LOSER */
.modal-content-loser {
  width: 50%;
  background-image: url("../img/gameover.gif");

  justify-content: end;
}
.modal-content-loser > h1 {
  text-shadow: -1px -1px 0px #f2f2f2, -1px 1px 0px #f2f2f2, 1px -1px 0px #f2f2f2,
    1px 0px 0px #f2f2f2;
  font-size: 80px;
  text-transform: uppercase;
}
.loser-infos {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f280;
  padding: 5px 1px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* MODAL FINISH */
.modal-content-finish {
  background-color: #909090;
  color: #f2f2f2;
  background-image: none;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
}
.finish-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 90px;
}
.modal-content-finish > article {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
