body {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--gradient)
}



main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
  background-image: var(--gradient)
  
}

.informacoes {
  width: 100%;
  height: 70px;
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.containerForca {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: end;
  padding: 20px 60px;
  justify-content: space-between;
}

.containerBoneco {
  width: 20%;
  height: 100%;
}
.boneco {
  width: 250px;
  height: 42%;
  border: 30px solid #808080;
  position: absolute;
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.boneco::after {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  height: 90%;
  background-color: #f2f2f2;
  right: -100%;
  top: 10.2%;
}
.cabeca {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: -35%;
  top: 9%;
  z-index: 2;

  display: none;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.corpo {
  width: 20px;
  height: 50%;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  right: -15%;
  top: 30%;
  z-index: 2;
  display: none;
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.bracoD,
.pernaD,
.bracoE,
.pernaE {
  width: 20px;
  height: 30%;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  right: 0%;
  top: 40%;
  z-index: 2;
  transform: rotate(45deg);
  display: none;
  -webkit-animation: scale-in-tr 0.5s both;
  animation: scale-in-tr 0.5s both;
}

.bracoD,
.pernaD {
  right: -15%;
}
.pernaD,
.pernaE {
  top: 78%;
}
.bracoE,
.pernaE {
  right: -16%;
  -webkit-animation: scale-in-tl 0.5s both;
  animation: scale-in-tl 0.5s both;
  transform: rotate(-45deg);
}

.letras {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  gap: 30px;
}
#containerLetras {
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5px;
  gap: 30px;
}

.categoria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 1px solid brown;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #a2242f80;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dicaCategoria {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bold;
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.containerLetra {
  width: 70px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 30px solid #808080;
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.letra {
  font-size: 36px;
  font-weight: bold;
}

.dicas {
  width: 20%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 0;
  border: 10px solid #808080;
  border-radius: 10px;
  gap: 40px;
}

.dica {
  width: 80%;
  height: 30%;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 5px #adadad;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.teclado {
  width: 100%;
  max-width: 1200px;
  /* height: calc(50% - 70px); */
  /* padding: 20px 60px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns-letras {
  width: 100%;
  height: 100%;
  display: flex;
  /* border: 10px solid #808080; */
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 30px;
  flex-wrap: wrap;
  border-radius: 10px;
}
.btn-letra {
  width: 75px;
  height:100px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 5px #101010;
  font-size: 34px;
  font-weight: bold;
  background-color: var(--tertiary);
  color: var(--white);
  box-shadow: var(--shadow);
}

@media screen and (max-width: 500px) {
  .btn-letra {
    width: 30px;
    height: 50px;
    font-size: 20px;
  }
}

.btn-letra:hover,
.btn-options > button:hover {
  background-color: var(--background);
  transform: scale(1.1);
  transition: all 0.2s;
}
.certa {
  background-color: #73c883;
  border: 3px solid #26874e;
  color: #1d4732;
  box-shadow: 2px 2px 5px #84bb87;
  -webkit-animation: flip-vertical-left 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
.errada {
  background-color: #d3989f;
  border: 3px solid #b24a53;
  color: #a2242f;
  box-shadow: 2px 2px 5px #c89fa3;
  -webkit-animation: flip-vertical-left 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
.certa:hover,
.errada:hover {
  background-color: #73c883;
  transform: scale(1);
  transition: none;
  cursor: not-allowed;
}
.errada:hover {
  background-color: #d3989f;
}
.btn-options {
  width: 20%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px 0;
  border: 10px solid #808080;
  border-radius: 10px;
}
.btn-options > button {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 5px #101010;
  font-size: 20px;
  font-weight: bold;
}

.btn-options > button:disabled {
  cursor: not-allowed;
  background-color: #d6d4d4;
  transform: scale(1);
  transition: none;
}
