body {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ccc;
}

main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.informacoes {
  width: 100%;
  height: 70px;
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerForca {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: end;
  padding: 20px 60px;
  justify-content: space-between;
}

.containerBoneco {
  width: 20%;
  height: 100%;
}
.boneco {
  width: 250px;
  height: 42%;
  border: 30px solid #808080;
  position: absolute;
}
.boneco::after {
  content: "";
  display: block;
  position: relative;
  width: 30px;
  height: 90%;
  background-color: #f2f2f2;
  right: -100%;
  top: 10.2%;
}
.cabeca {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: -35%;
  top: 9%;
  z-index: 2;

  display: none;
}
.corpo {
  width: 20px;
  height: 50%;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  right: -15%;
  top: 30%;
  z-index: 2;
  display: none;
}
.bracoD,
.pernaD,
.bracoE,
.pernaE {
  width: 20px;
  height: 30%;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  right: 0%;
  top: 30%;
  z-index: 2;
  transform: rotate(45deg);
  display: none;
}
.pernaD,
.pernaE {
  top: 70%;
}
.bracoE,
.pernaE {
  transform: rotate(-45deg);
  right: -30%;
}

.letras {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5px;
  gap: 30px;
  flex-wrap: wrap;
}
.containerLetra {
  width: 70px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 30px solid #808080;
}
.letra {
  font-size: 36px;
  font-weight: bold;
}


.dicas {
  width: 20%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 0;
  border: 10px solid #808080;
  border-radius: 10px;
  gap: 40px;
}

.dica{
  width: 80%;
  height: 30%;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 5px #adadad;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}


.teclado {
  width: 100%;
  height: calc(50% - 70px);
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btns-letras {
  width: 75%;
  height: 100%;
  display: flex;
  border: 10px solid #808080;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 30px;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #ccc;
}
.btn-letra{
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 5px #101010;
  font-size: 24px;
  font-weight: bold;
}

.btn-letra:hover, .btn-options > button:hover{
 background-color: #d6d4d4;
 transform: scale(1.1);
 transition: all 0.2s;
}
.certa{
  background-color: #73c883;
  border: 3px solid #26874e;
  color: #1d4732;
  box-shadow: 2px 2px 5px #84bb87;
}
.errada{
  background-color: #d3989f;
  border: 3px solid #b24a53;
  color: #a2242f;
  box-shadow: 2px 2px 5px #c89fa3;
}
.certa:hover, .errada:hover{
  background-color: #73c883;
 transform: scale(1);
 transition: none;
 cursor: not-allowed;
}
.errada:hover{
  background-color: #d3989f;
}
.btn-options{
  width: 20%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px 0;
  border: 10px solid #808080;
  border-radius: 10px;
}
.btn-options > button{
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 5px #101010;
  font-size: 20px;
  font-weight: bold;
}